@import '../../../../projects/ux/src/styles/public-variables';

.app-priority {
  color: $gd-color-neutral-lightest;
  font-size: 12px;
  margin-top: 5px;
}

.app-item {
  margin-bottom: $gd-spacing * 2;

  ::ng-deep {
    .gd-card-body {
      .gd-thumbnail {
        margin: 0 auto;
        margin-top: 5px;
      }
    }
  }
}
