<h1>
  Card
</h1>

<gd-row>
  <gd-column *ngFor="let item of items"
    screenXSmall="6"
    screenSmall="4"
    screenMedium="4"
  >
    <div class="app-item">
      <gd-card
        [route]="{
          commands: ['/gifts']
        }"
      >
        <gd-card-thumbnail>
          <gd-thumbnail
            size="fill"
            [imageSource]="item.imageUrl"
          >
            <gd-ribbon *ngIf="item.isDibbed"
              ribbonType="success"
            >
              <gd-icon icon="hand-paper"></gd-icon>
            </gd-ribbon>
          </gd-thumbnail>
        </gd-card-thumbnail>
        <gd-card-body>
          <gd-card-heading [multiline]="false">
            {{ item.name }}
          </gd-card-heading>
          <span class="gd-text-price">
            ${{ item.price }}
          </span>
          <div class="app-priority">
            <gd-icon icon="heart" iconStyle="info"></gd-icon>
            <gd-icon icon="heart" iconStyle="info"></gd-icon>
            <gd-icon icon="heart" iconStyle="info"></gd-icon>
            <gd-icon icon="heart" iconStyle="info"></gd-icon>
            <gd-icon icon="heart" iconStyle="info" style="opacity:0.35"></gd-icon>
          </div>
          <gd-thumbnail size="xs" shape="circle" imageSource="https://giftdibs.s3.amazonaws.com/5bd26b69be29a6f2123a5ec5-7SVIqZcTbn2Idq7E8gVZAKLyYMJoX3do"></gd-thumbnail>

        </gd-card-body>
      </gd-card>
    </div>
  </gd-column>
</gd-row>
