<h1>
  Card
</h1>

<gd-row>
  <gd-column
    screenSmall="6"
    screenMedium="4"
  >
    <gd-card>
      <gd-card-thumbnail>
        <gd-thumbnail
          imageSource="/assets/donut.jpg"
          size="fill"
        >
          <gd-ribbon
            ribbonType="success"
          >
            <gd-icon icon="heart"></gd-icon>
          </gd-ribbon>
        </gd-thumbnail>
      </gd-card-thumbnail>
      <gd-card-body>
        <gd-card-heading [multiline]="false">
          <a href="">Active Ribbed Cropped Cami</a>
        </gd-card-heading>
        <div>
          <div class="app-priority">
            <gd-icon icon="heart" iconStyle="success"></gd-icon>
            <gd-icon icon="heart"></gd-icon>
            <gd-icon icon="heart"></gd-icon>
            <gd-icon icon="heart"></gd-icon>
            <gd-icon icon="heart"></gd-icon>
          </div>
          <span class="gd-text-price">
            $13
          </span>
        </div>
        <gd-card-header>
          <gd-media size="xs">
            <gd-media-thumbnail>
              <gd-thumbnail
                imageSource="https://i.pinimg.com/280x280_RS/44/56/a2/4456a26541ad86ad5303283de24dbde6.jpg"
                size="fill"
                shape="circle"
              ></gd-thumbnail>
            </gd-media-thumbnail>
            <gd-media-content>
              <gd-media-heading [multiline]="false">
                <a href="">Jessica Van BonShellenbarger</a>
              </gd-media-heading>
              <gd-media-body>
                <time class="gd-date">
                  5 min ago
                </time>
              </gd-media-body>
            </gd-media-content>
          </gd-media>
        </gd-card-header>
      </gd-card-body>
    </gd-card>
  </gd-column>
  <gd-column
    screenSmall="6"
    screenMedium="4"
  >
    <gd-card>
      <gd-card-thumbnail>
        <gd-thumbnail
          imageSource="https://giftdibs.s3.amazonaws.com/5bd26b69be29a6f2123a5ec5-1hWOuDEsvLSe3evDB78geJHAVUSmGkxV"
          size="fill"
        >
          <gd-ribbon
            ribbonType="success"
          >
            <gd-icon icon="heart"></gd-icon>
          </gd-ribbon>
        </gd-thumbnail>
      </gd-card-thumbnail>
      <gd-card-body>
        <gd-card-heading [multiline]="false">
          <a href="">Active Ribbed Cropped Cami</a>
        </gd-card-heading>
        <div>
          <div class="app-priority">
            <gd-icon icon="heart" iconStyle="success"></gd-icon>
            <gd-icon icon="heart"></gd-icon>
            <gd-icon icon="heart"></gd-icon>
            <gd-icon icon="heart"></gd-icon>
            <gd-icon icon="heart"></gd-icon>
          </div>
          <span class="gd-text-price">
            $13
          </span>
        </div>
        <gd-card-header>
          <gd-media size="xs">
            <gd-media-thumbnail>
              <gd-thumbnail
                imageSource="https://i.pinimg.com/280x280_RS/44/56/a2/4456a26541ad86ad5303283de24dbde6.jpg"
                size="fill"
                shape="circle"
              ></gd-thumbnail>
            </gd-media-thumbnail>
            <gd-media-content>
              <gd-media-heading [multiline]="false">
                <a href="">Jessica Van BonShellenbarger</a>
              </gd-media-heading>
              <gd-media-body>
                <time class="gd-date">
                  5 min ago
                </time>
              </gd-media-body>
            </gd-media-content>
          </gd-media>
        </gd-card-header>
      </gd-card-body>
    </gd-card>
  </gd-column>
</gd-row>
