@import 'projects/ux/src/styles/public-variables';

.app-priority {
  color: $gd-color-neutral-lightest;
  font-size: 14px;
}

.app-item {
  margin-bottom: $gd-spacing * 2;
  ::ng-deep {
    .gd-card-wrapper {
      overflow: hidden;
      position: relative;
    }
  }
}

.app-item-user {
  margin-top: 4px;
}
