@import 'variables';

.gd-container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 0 $gd-spacing;
}

.gd-container-lg {
  max-width: $gd-screen-lg-min;
}

.gd-container-md {
  max-width: $gd-screen-md-min;
}

.gd-container-sm {
  max-width: $gd-screen-sm-min;
}

.gd-container-xs {
  max-width: $gd-screen-xs-max;
}

.gd-container-xxs {
  max-width: $gd-screen-xxs-max;
}

.gd-canvas {
  background-color: $gd-color-neutral-faint;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: auto;
}
