$gd-screen-xs-min: 500px !default;
$gd-screen-sm-min: 768px !default;
$gd-screen-md-min: 992px !default;
$gd-screen-lg-min: 1200px !default;

$gd-screen-xs-max: $gd-screen-sm-min - 1 !default;
$gd-screen-sm-max: $gd-screen-md-min - 1 !default;
$gd-screen-md-max: $gd-screen-lg-min - 1 !default;
