// SCREEN
$gd-screen-xxs-min: 0 !default;
$gd-screen-xs-min: 500px !default;
$gd-screen-sm-min: 768px !default;
$gd-screen-md-min: 992px !default;
$gd-screen-lg-min: 1200px !default;

$gd-screen-xxs-max: $gd-screen-xs-min - 1 !default;
$gd-screen-xs-max: $gd-screen-sm-min - 1 !default;
$gd-screen-sm-max: $gd-screen-md-min - 1 !default;
$gd-screen-md-max: $gd-screen-lg-min - 1 !default;

// TEXT
$gd-font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif !default;
$gd-font-weight-light: 100 !default;
$gd-font-weight-normal: 400 !default;
$gd-font-weight-bold: 700 !default;
$gd-font-weight-black: 900 !default;
$gd-line-height: 1.5 !default;
$gd-line-height-reduced: 1.2 !default;

// COLORS

@function background_color($color) {
  @return desaturate(lighten($color, 45%), 25%);
}

@function border_color($color) {
  @return darken($color, 10%);
}

@function text_color($color) {
  @return saturate(darken($color, 15%), 20%);
}

// PRIMARY
$gd-color-primary: #329B22 !default;
$gd-background-color-primary: background_color($gd-color-primary) !default;
$gd-border-color-primary: border_color($gd-color-primary) !default;
$gd-text-color-primary: text_color($gd-color-primary) !default;

// SECONDARY
$gd-color-secondary: complement($gd-color-primary) !default;
$gd-background-color-secondary: background_color($gd-color-secondary) !default;
$gd-border-color-secondary: border_color($gd-color-secondary) !default;
$gd-text-color-secondary: text_color($gd-color-secondary) !default;

// INFO
$gd-color-info: #0084FF !default;
$gd-background-color-info: background_color($gd-color-info) !default;
$gd-border-color-info: border_color($gd-color-info) !default;
$gd-text-color-info: text_color($gd-color-info) !default;

// SUCCESS
$gd-color-success: $gd-color-primary !default;
$gd-background-color-success: background_color($gd-color-success) !default;
$gd-border-color-success: border_color($gd-color-success) !default;
$gd-text-color-success: text_color($gd-color-success) !default;

// WARNING
$gd-color-warning: #FF8C00 !default;
$gd-background-color-warning: background_color($gd-color-warning) !default;
$gd-border-color-warning: border_color($gd-color-warning) !default;
$gd-text-color-warning: text_color($gd-color-warning) !default;

// DANGER
$gd-color-danger: #D4282F !default;
$gd-background-color-danger: background_color($gd-color-danger) !default;
$gd-border-color-danger: $gd-color-danger !default;
$gd-text-color-danger: $gd-color-danger !default;

// NEUTRAL
$gd-color-neutral: desaturate(lighten($gd-color-primary, 15%), 65%) !default;
$gd-color-neutral-light: lighten($gd-color-neutral, 15%) !default;
$gd-color-neutral-lighter: lighten($gd-color-neutral, 30%) !default;
$gd-color-neutral-lightest: lighten($gd-color-neutral, 40%) !default;
$gd-color-neutral-faint: lighten($gd-color-neutral, 45%) !default;
$gd-color-neutral-dark: darken($gd-color-neutral, 20%) !default;
$gd-color-neutral-darker: darken($gd-color-neutral, 30%) !default;
$gd-color-neutral-darkest: #000 !default;

$gd-border-color-neutral: darken($gd-color-neutral, 5%) !default;
$gd-border-color-neutral-light: darken($gd-color-neutral-light, 5%) !default;
$gd-border-color-neutral-lighter: darken($gd-color-neutral-lighter, 5%) !default;
$gd-border-color-neutral-lightest: darken($gd-color-neutral-lightest, 5%) !default;

// TEXT COLOR
$gd-text-color-default: #000 !default;
$gd-text-color-deemphasized: desaturate(darken($gd-color-neutral, 8%), 5%) !default;
$gd-text-color-dark: $gd-color-neutral-darkest !default;

// BRANDS
$gd-color-brand-facebook: #3b5998 !default;

// SPACING
$gd-spacing: 16px !default;
$gd-spacing-xl: $gd-spacing * 2 !default;
$gd-spacing-lg: 14px !default;
$gd-spacing-md: 10px !default;
$gd-spacing-sm: 6px !default;
$gd-spacing-xs: 4px !default;
