@import 'public-variables';

$gd-font-size-default: 100% !default;
$gd-font-size-small: 85% !default;
$gd-font-size-smaller: 75% !default;
$gd-font-size-large: 1.2em !default;
$gd-font-size-larger: 1.5em !default;
$gd-font-size-xl: 2em !default;
$gd-font-size-xxl: 3em !default;

$gd-zindex-alert: 999 !default;

$gd-box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
$gd-box-shadow-lg: 0 0 50px rgba(0, 0, 0, 0.4);
$gd-border-radius: 0.75rem !default;
$gd-border-radius-sm: 0.35rem !default;

$gd-spacing-padding-squish: $gd-spacing-lg $gd-spacing !default;
$gd-spacing-padding-squish-compact: $gd-spacing-sm $gd-spacing-lg !default;
$gd-spacing-padding-squish-large: $gd-spacing $gd-spacing-xl !default;
$gd-spacing-padding-even-large: $gd-spacing-xl !default;
