<h1>Overlay</h1>

<div class="gd-button-group">
  <button
    class="gd-button gd-button-default"
    type="button"
    (click)="openOverlayWithoutBackdrop()"
  >
    Open overlay
  </button>

  <button
    class="gd-button gd-button-default"
    type="button"
    (click)="openOverlayWithBackdrop()"
  >
    Open overlay with backdrop
  </button>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ante
  scelerisque, cursus neque non, rutrum eros. Praesent id tortor eu mi sagittis
  auctor auctor ac turpis. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Nam mattis vestibulum ante. Maecenas finibus efficitur hendrerit. In et
  nunc metus. Quisque tincidunt lorem at dolor pharetra dictum. Donec rutrum
  eros venenatis malesuada elementum. Sed egestas quam et sem efficitur
  eleifend. In nisi mi, interdum vel finibus ut, bibendum sed ipsum. Sed lacinia
  imperdiet condimentum. Vestibulum feugiat semper mauris a imperdiet. Mauris
  molestie lectus sit amet hendrerit vehicula.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ante
  scelerisque, cursus neque non, rutrum eros. Praesent id tortor eu mi sagittis
  auctor auctor ac turpis. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Nam mattis vestibulum ante. Maecenas finibus efficitur hendrerit. In et
  nunc metus. Quisque tincidunt lorem at dolor pharetra dictum. Donec rutrum
  eros venenatis malesuada elementum. Sed egestas quam et sem efficitur
  eleifend. In nisi mi, interdum vel finibus ut, bibendum sed ipsum. Sed lacinia
  imperdiet condimentum. Vestibulum feugiat semper mauris a imperdiet. Mauris
  molestie lectus sit amet hendrerit vehicula.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ante
  scelerisque, cursus neque non, rutrum eros. Praesent id tortor eu mi sagittis
  auctor auctor ac turpis. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Nam mattis vestibulum ante. Maecenas finibus efficitur hendrerit. In et
  nunc metus. Quisque tincidunt lorem at dolor pharetra dictum. Donec rutrum
  eros venenatis malesuada elementum. Sed egestas quam et sem efficitur
  eleifend. In nisi mi, interdum vel finibus ut, bibendum sed ipsum. Sed lacinia
  imperdiet condimentum. Vestibulum feugiat semper mauris a imperdiet. Mauris
  molestie lectus sit amet hendrerit vehicula.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ante
  scelerisque, cursus neque non, rutrum eros. Praesent id tortor eu mi sagittis
  auctor auctor ac turpis. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Nam mattis vestibulum ante. Maecenas finibus efficitur hendrerit. In et
  nunc metus. Quisque tincidunt lorem at dolor pharetra dictum. Donec rutrum
  eros venenatis malesuada elementum. Sed egestas quam et sem efficitur
  eleifend. In nisi mi, interdum vel finibus ut, bibendum sed ipsum. Sed lacinia
  imperdiet condimentum. Vestibulum feugiat semper mauris a imperdiet. Mauris
  molestie lectus sit amet hendrerit vehicula.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ante
  scelerisque, cursus neque non, rutrum eros. Praesent id tortor eu mi sagittis
  auctor auctor ac turpis. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Nam mattis vestibulum ante. Maecenas finibus efficitur hendrerit. In et
  nunc metus. Quisque tincidunt lorem at dolor pharetra dictum. Donec rutrum
  eros venenatis malesuada elementum. Sed egestas quam et sem efficitur
  eleifend. In nisi mi, interdum vel finibus ut, bibendum sed ipsum. Sed lacinia
  imperdiet condimentum. Vestibulum feugiat semper mauris a imperdiet. Mauris
  molestie lectus sit amet hendrerit vehicula.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ante
  scelerisque, cursus neque non, rutrum eros. Praesent id tortor eu mi sagittis
  auctor auctor ac turpis. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Nam mattis vestibulum ante. Maecenas finibus efficitur hendrerit. In et
  nunc metus. Quisque tincidunt lorem at dolor pharetra dictum. Donec rutrum
  eros venenatis malesuada elementum. Sed egestas quam et sem efficitur
  eleifend. In nisi mi, interdum vel finibus ut, bibendum sed ipsum. Sed lacinia
  imperdiet condimentum. Vestibulum feugiat semper mauris a imperdiet. Mauris
  molestie lectus sit amet hendrerit vehicula.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ante
  scelerisque, cursus neque non, rutrum eros. Praesent id tortor eu mi sagittis
  auctor auctor ac turpis. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Nam mattis vestibulum ante. Maecenas finibus efficitur hendrerit. In et
  nunc metus. Quisque tincidunt lorem at dolor pharetra dictum. Donec rutrum
  eros venenatis malesuada elementum. Sed egestas quam et sem efficitur
  eleifend. In nisi mi, interdum vel finibus ut, bibendum sed ipsum. Sed lacinia
  imperdiet condimentum. Vestibulum feugiat semper mauris a imperdiet. Mauris
  molestie lectus sit amet hendrerit vehicula.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ante
  scelerisque, cursus neque non, rutrum eros. Praesent id tortor eu mi sagittis
  auctor auctor ac turpis. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Nam mattis vestibulum ante. Maecenas finibus efficitur hendrerit. In et
  nunc metus. Quisque tincidunt lorem at dolor pharetra dictum. Donec rutrum
  eros venenatis malesuada elementum. Sed egestas quam et sem efficitur
  eleifend. In nisi mi, interdum vel finibus ut, bibendum sed ipsum. Sed lacinia
  imperdiet condimentum. Vestibulum feugiat semper mauris a imperdiet. Mauris
  molestie lectus sit amet hendrerit vehicula.
</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut a ante
  scelerisque, cursus neque non, rutrum eros. Praesent id tortor eu mi sagittis
  auctor auctor ac turpis. Lorem ipsum dolor sit amet, consectetur adipiscing
  elit. Nam mattis vestibulum ante. Maecenas finibus efficitur hendrerit. In et
  nunc metus. Quisque tincidunt lorem at dolor pharetra dictum. Donec rutrum
  eros venenatis malesuada elementum. Sed egestas quam et sem efficitur
  eleifend. In nisi mi, interdum vel finibus ut, bibendum sed ipsum. Sed lacinia
  imperdiet condimentum. Vestibulum feugiat semper mauris a imperdiet. Mauris
  molestie lectus sit amet hendrerit vehicula.
</p>
