<gd-modal>
  <gd-modal-body>
    <button
      class="gd-button gd-button-primary"
      type="button"
      gdDropdownMenuTrigger
      [menuItemTemplate]="menuItemTemplate"
      [menuItems]="menuItems"
    >
      Show menu
    </button>
  </gd-modal-body>
  <gd-modal-footer>
    <div class="gd-button-group">
      <button
        class="gd-button gd-button-default"
        type="button"
        (click)="onCancelClicked()"
      >
        Close
      </button>
    </div>
  </gd-modal-footer>
</gd-modal>

<ng-template let-item="item" #menuItemTemplate>
  {{item|json}}
</ng-template>
