<div class="gd-container gd-container-sm gd-spacing-padding-squish">
  <div class="gd-detail-pane">
    <h1>
      Theme
    </h1>

    <h2>
      Buttons
    </h2>

    <button
      class="gd-button gd-button-default"
      type="button"
    >
      Default
    </button>

    <button
      class="gd-button gd-button-primary"
      type="button"
    >
      Primary
    </button>

    <button
      class="gd-button gd-button-info"
      type="button"
    >
      Info
    </button>

    <button
      class="gd-button gd-button-danger"
      type="button"
    >
      Danger
    </button>

    <button
      class="gd-button gd-button-link"
      type="button"
    >
      Link
    </button>

    <h3>Disabled Buttons</h3>

    <button
      class="gd-button gd-button-default"
      disabled="true"
      type="button"
    >
      Default
    </button>

    <button
      class="gd-button gd-button-primary"
      disabled="true"
      type="button"
    >
      Primary
    </button>

    <button
      class="gd-button gd-button-info"
      disabled="true"
      type="button"
    >
      Info
    </button>

    <button
      class="gd-button gd-button-danger"
      disabled="true"
      type="button"
    >
      Danger
    </button>

    <button
      class="gd-button gd-button-link"
      disabled="true"
      type="button"
    >
      Link
    </button>

    <h3>
      Using icons
    </h3>

    <button
      class="gd-button gd-button-default"
      type="button"
    >
      Default
      <gd-icon icon="plus"></gd-icon>
    </button>

    <button
      class="gd-button gd-button-primary"
      type="button"
    >
      Primary
      <gd-icon icon="plus"></gd-icon>
    </button>

    <button
      class="gd-button gd-button-info"
      type="button"
    >
      Info
      <gd-icon icon="plus"></gd-icon>
    </button>

    <button
      class="gd-button gd-button-danger"
      type="button"
    >
      Danger
      <gd-icon icon="plus"></gd-icon>
    </button>

    <button
      class="gd-button gd-button-link"
      type="button"
    >
      Link
      <gd-icon icon="plus"></gd-icon>
    </button>

    <h3>Button group</h3>

    <div style="display:inline-block;">
      <div class="gd-button-group">
        <button
          class="gd-button gd-button-primary"
          type="button"
        >
          Button
        </button>
        <button
          class="gd-button gd-button-primary"
          type="button"
        >
          Button
        </button>
        <span>
          <button
            class="gd-button gd-button-default"
            type="button"
          >
            Button
          </button>
        </span>
      </div>
    </div>

    <h3>Button group block</h3>
    <div>
      <div class="gd-button-group-block">
        <button
          class="gd-button gd-button-primary gd-button-block"
          type="button"
        >
          <gd-icon icon="plus"></gd-icon>
          Button
        </button>
        <span>
          <button
            class="gd-button gd-button-default gd-button-block"
            type="button"
          >
            Button
          </button>
        </span>
      </div>
    </div>

    <h3>Button group fluid</h3>
    <div>
      <div class="gd-button-group-fluid">
        <button
          class="gd-button gd-button-primary"
          type="button"
        >
          Button
        </button>
        <button
          class="gd-button gd-button-info"
          type="button"
        >
          Button
        </button>
        <button
          class="gd-button gd-button-default"
          type="button"
        >
          Button
        </button>
      </div>
    </div>

    <h2>
      Tables
    </h2>

    <table class="gd-table">
      <tr>
        <th>Budget</th>
        <td>$50</td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td>
          10
        </td>
      </tr>
    </table>

    <table class="gd-table gd-table-condensed">
      <tr>
        <th>Budget</th>
        <td>$50</td>
      </tr>
      <tr>
        <th>Quantity</th>
        <td>
          10
        </td>
      </tr>
    </table>

    <h2>
      Forms
    </h2>

    <gd-form-field>
      <label class="gd-control-label">First name</label>
      <input type="text" class="gd-form-control" placeholder="First name">
    </gd-form-field>

    <gd-form-field>
      <span class="gd-input-group">
        <span class="gd-input-group-prepend">$</span>
        <input
          class="gd-form-control"
          type="number"
        />
        <span class="gd-input-group-append">.00</span>
      </span>
    </gd-form-field>
  </div>
</div>
