<div class="gd-container gd-container-sm gd-spacing-padding-squish">
  <h2>
    Buttons
  </h2>

  <h3>Button group</h3>
  <div style="border: 1px solid red;display:inline-block;">
    <div class="gd-button-group">
      <button
        class="gd-button gd-button-primary"
        type="button"
      >
        Button
      </button>
      <button
        class="gd-button gd-button-primary"
        type="button"
      >
        Button
      </button>
      <span>
        <button
          class="gd-button gd-button-default"
          type="button"
        >
          Button
        </button>
      </span>
    </div>
  </div>

  <h3>Button group block</h3>
  <div style="border: 1px solid red;">
    <div class="gd-button-group-block">
      <button
        class="gd-button gd-button-primary gd-button-block"
        type="button"
      >
        Button
      </button>
      <span>
        <button
          class="gd-button gd-button-default gd-button-block"
          type="button"
        >
          Button
        </button>
      </span>
    </div>
  </div>

  <h3>Button group fluid</h3>
  <div style="border: 1px solid red;">
    <div class="gd-button-group-fluid">
      <button
        class="gd-button gd-button-primary"
        type="button"
      >
        Button
      </button>
      <button
        class="gd-button gd-button-primary"
        type="button"
      >
        Button
      </button>
      <button
        class="gd-button gd-button-default"
        type="button"
      >
        Button
      </button>
    </div>
  </div>
</div>
