<div class="gd-container gd-spacing-padding-squish">
  <ul>
    <li>
      <a routerLink="/demos/dropdown-menu">Dropdown Menu</a>
    </li>
    <li>
      <a routerLink="/demos/grid">Grid</a>
    </li>
    <li>
      <a routerLink="/demos/media">Media</a>
    </li>
    <li>
      <a routerLink="/demos/theme">Theme</a>
    </li>
    <li>
      <a routerLink="/demos/thumbnail">Thumbnail</a>
    </li>
    <li>
      <a routerLink="/demos/typeahead">Typeahead</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>
