<h1>
  Popovers
</h1>

<div class="gd-container gd-container-sm">
  <button
    class="gd-button gd-button-primary"
    type="button"
    [gdPopover]="content"
    gdPopoverHorizontalAlignment="left"
    gdPopoverVerticalAlignment="top"
  >
    Open popover
  </button>
</div>

<ng-template #content>
  <h1>
    Some popover
  </h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent in dui purus. Etiam ut mattis sapien. Aenean nec sem eu est mollis finibus. Pellentesque et leo sit amet lorem finibus aliquet. Etiam mollis, mi at sodales vehicula, dui mauris sagittis arcu, in laoreet elit elit vel felis. Etiam pharetra laoreet eros sed euismod. Nam eget libero in lorem porttitor malesuada vel pharetra massa. Sed dignissim eu libero vel fermentum. Ut pretium mauris non iaculis scelerisque. Praesent ut enim placerat, laoreet urna id, facilisis tellus.
  </p>
</ng-template>

