<h1>
  Notice
</h1>

<gd-notice noticeType="info">
  <gd-notice-heading>
    Info
  </gd-notice-heading>
  This is a notice.
</gd-notice>

<gd-notice noticeType="success">
  <gd-notice-heading>
    Success
  </gd-notice-heading>
  This is a notice.
</gd-notice>

<gd-notice noticeType="warning">
  <gd-notice-heading>
    Warning
  </gd-notice-heading>
  This is a notice.
</gd-notice>

<gd-notice noticeType="danger">
  <gd-notice-heading>
    Danger
  </gd-notice-heading>
  This is a notice.
</gd-notice>

<div class="gd-detail-pane">
  <gd-notice noticeType="info">
    <gd-notice-heading>
      Info
    </gd-notice-heading>
    This is a notice. <a href="">Some link</a>
    <button class="gd-button gd-button-default" type="button">Some button</button>
  </gd-notice>

  <gd-notice noticeType="success">
    <gd-notice-heading>
      Success
    </gd-notice-heading>
    This is a notice.
  </gd-notice>

  <gd-notice noticeType="warning">
    <gd-notice-heading>
      Warning
    </gd-notice-heading>
    This is a notice.
  </gd-notice>

  <gd-notice noticeType="danger">
    <gd-notice-heading>
      Danger
    </gd-notice-heading>
    This is a notice.
  </gd-notice>
</div>
