<h1>
  Notice
</h1>

<gd-notice>
  <gd-notice-heading>
    Are you sure?
  </gd-notice-heading>
  This is a notice.
</gd-notice>

<gd-notice noticeType="success">
  <gd-notice-heading>
    Are you sure?
  </gd-notice-heading>
  This is a notice.
</gd-notice>

<gd-notice noticeType="info">
  <gd-notice-heading>
    Are you sure?
  </gd-notice-heading>
  This is a notice.
</gd-notice>

<gd-notice noticeType="warning">
  <gd-notice-heading>
    Are you sure?
  </gd-notice-heading>
  This is a notice.
</gd-notice>

<gd-notice noticeType="danger">
  <gd-notice-heading>
    Are you sure?
  </gd-notice-heading>
  This is a notice.
</gd-notice>
