<h1>Alert</h1>

<div class="gd-button-group">
  <button
    class="gd-button gd-button-primary"
    type="button"
    (click)="openAlert('success')"
  >
    Open success
  </button>

  <button
    class="gd-button gd-button-secondary"
    type="button"
    (click)="openAlert('info')"
  >
    Open info
  </button>

  <button
    class="gd-button gd-button-danger"
    type="button"
    (click)="openAlert('danger')"
  >
    Open danger
  </button>
  <button
    class="gd-button gd-button-default"
    type="button"
    (click)="openAlert()"
  >
    Open default
  </button>
</div>
