<h1>
  Media
</h1>

<gd-media>
  <gd-media-thumbnail>
    <gd-thumbnail
      [imageSource]="thumbnail"
      size="fill"
    >
    </gd-thumbnail>
  </gd-media-thumbnail>
  <gd-media-content>
    <gd-media-header>
      <gd-media-heading>
        Default Size
      </gd-media-heading>
      <gd-media-subheading>
        Subheading
      </gd-media-subheading>
    </gd-media-header>
    <gd-media-body>
      Body content.
    </gd-media-body>
  </gd-media-content>
  <gd-media-controls>
    <button
      class="gd-button gd-button-default"
      type="button"
    >
      Button
    </button>
  </gd-media-controls>
</gd-media>

<gd-media size="lg">
  <gd-media-thumbnail>
    <gd-thumbnail
      [imageSource]="thumbnail"
      size="fill"
    >
    </gd-thumbnail>
  </gd-media-thumbnail>
  <gd-media-content>
    <gd-media-header>
      <gd-media-heading>
        Large Size
      </gd-media-heading>
      <gd-media-subheading>
        Subheading
      </gd-media-subheading>
    </gd-media-header>
    <gd-media-body>
      Body content.
    </gd-media-body>
  </gd-media-content>
  <gd-media-controls>
    <button
      class="gd-button gd-button-default"
      type="button"
    >
      Button
    </button>
  </gd-media-controls>
</gd-media>

<gd-media size="md">
  <gd-media-thumbnail>
    <gd-thumbnail
      [imageSource]="thumbnail"
      size="fill"
    >
    </gd-thumbnail>
  </gd-media-thumbnail>
  <gd-media-content>
    <gd-media-header>
      <gd-media-heading>
        Medium Size
      </gd-media-heading>
      <gd-media-subheading>
        Subheading
      </gd-media-subheading>
    </gd-media-header>
    <gd-media-body>
      Body content.
    </gd-media-body>
  </gd-media-content>
  <gd-media-controls>
    <button
      class="gd-button gd-button-default"
      type="button"
    >
      Button
    </button>
  </gd-media-controls>
</gd-media>

<gd-media size="sm">
  <gd-media-thumbnail>
    <gd-thumbnail
      [imageSource]="thumbnail"
      size="fill"
    >
    </gd-thumbnail>
  </gd-media-thumbnail>
  <gd-media-content>
    <gd-media-header>
      <gd-media-heading>
        Small Size
      </gd-media-heading>
      <gd-media-subheading>
        Subheading
      </gd-media-subheading>
    </gd-media-header>
    <gd-media-body>
      Body content.
    </gd-media-body>
  </gd-media-content>
  <gd-media-controls>
    <button
      class="gd-button gd-button-default"
      type="button"
    >
      Button
    </button>
  </gd-media-controls>
</gd-media>

<gd-media size="xs">
  <gd-media-thumbnail>
    <gd-thumbnail
      [imageSource]="thumbnail"
      size="fill"
    >
    </gd-thumbnail>
  </gd-media-thumbnail>
  <gd-media-content>
    <gd-media-header>
      <gd-media-heading>
        XSmall Size
      </gd-media-heading>
      <gd-media-subheading>
        Subheading
      </gd-media-subheading>
    </gd-media-header>
    <gd-media-body>
      Body content.
    </gd-media-body>
  </gd-media-content>
  <gd-media-controls>
    <button
      class="gd-button gd-button-default"
      type="button"
    >
      Button
    </button>
  </gd-media-controls>
</gd-media>

<h2>
  Media list
</h2>

<gd-media-list>
  <gd-media>
    <gd-media-thumbnail>
      <gd-thumbnail
        [imageSource]="thumbnail"
        size="fill"
      >
      </gd-thumbnail>
    </gd-media-thumbnail>
    <gd-media-content>
      <gd-media-header>
        <gd-media-heading>
          Default Size
        </gd-media-heading>
        <gd-media-subheading>
          Subheading
        </gd-media-subheading>
      </gd-media-header>
      <gd-media-body>
        Body content.
      </gd-media-body>
    </gd-media-content>
    <gd-media-controls>
      <button
        class="gd-button gd-button-default"
        type="button"
      >
        Button
      </button>
    </gd-media-controls>
  </gd-media>
  <gd-media>
    <gd-media-thumbnail>
      <gd-thumbnail
        [imageSource]="thumbnail"
        shape="circle"
        size="fill"
      >
      </gd-thumbnail>
    </gd-media-thumbnail>
    <gd-media-content>
      <gd-media-header>
        <gd-media-heading>
          Default Size
        </gd-media-heading>
        <gd-media-subheading>
          Subheading
        </gd-media-subheading>
      </gd-media-header>
      <gd-media-body>
        Body content.
      </gd-media-body>
    </gd-media-content>
    <gd-media-controls>
      <button
        class="gd-button gd-button-default"
        type="button"
      >
        Button
      </button>
    </gd-media-controls>
  </gd-media>
  <gd-media>
    <gd-media-thumbnail>
      <gd-thumbnail
        [imageSource]="thumbnail"
        size="fill"
      >
      </gd-thumbnail>
    </gd-media-thumbnail>
    <gd-media-content>
      <gd-media-header>
        <gd-media-heading>
          Default Size
        </gd-media-heading>
        <gd-media-subheading>
          Subheading
        </gd-media-subheading>
      </gd-media-header>
      <gd-media-body>
        Body content.
      </gd-media-body>
    </gd-media-content>
    <gd-media-controls>
      <button
        class="gd-button gd-button-default"
        type="button"
      >
        Button
      </button>
    </gd-media-controls>
  </gd-media>
</gd-media-list>

<gd-media size="xs">
  <gd-media-thumbnail>
    <gd-icon icon="plus"></gd-icon>
  </gd-media-thumbnail>
  <gd-media-content>
    <gd-media-header>
      <gd-media-heading>
        Default Size
      </gd-media-heading>
      <gd-media-subheading>
        Subheading
      </gd-media-subheading>
    </gd-media-header>
    <gd-media-body>
      Body content.
    </gd-media-body>
  </gd-media-content>
  <gd-media-controls>
    <button
      class="gd-button gd-button-default"
      type="button"
    >
      Button
    </button>
  </gd-media-controls>
</gd-media>

<h2>
  Reverse order
</h2>

<div style="border:1px solid red">
  <gd-media-list>
    <gd-media size="lg">
      <gd-media-content>
        <gd-media-header>
          <gd-media-heading>
            XSmall Size
          </gd-media-heading>
          <gd-media-subheading>
            Subheading
          </gd-media-subheading>
        </gd-media-header>
        <gd-media-body>
          Body content.
        </gd-media-body>
      </gd-media-content>
      <gd-media-controls>
        <button
          class="gd-button gd-button-default"
          type="button"
        >
          Button
        </button>
      </gd-media-controls>
      <gd-media-thumbnail>
        <gd-thumbnail
          [imageSource]="thumbnail"
          size="fill"
        >
        </gd-thumbnail>
      </gd-media-thumbnail>
    </gd-media>

    <gd-media size="md">
      <gd-media-content>
        <gd-media-header>
          <gd-media-heading>
            XSmall Size
          </gd-media-heading>
          <gd-media-subheading>
            Subheading
          </gd-media-subheading>
        </gd-media-header>
        <gd-media-body>
          Body content.
        </gd-media-body>
      </gd-media-content>
      <gd-media-controls>
        <button
          class="gd-button gd-button-default"
          type="button"
        >
          Button
        </button>
      </gd-media-controls>
      <gd-media-thumbnail>
        <gd-thumbnail
          [imageSource]="thumbnail"
          size="fill"
        >
        </gd-thumbnail>
      </gd-media-thumbnail>
    </gd-media>

    <gd-media size="sm">
      <gd-media-content>
        <gd-media-header>
          <gd-media-heading>
            XSmall Size
          </gd-media-heading>
          <gd-media-subheading>
            Subheading
          </gd-media-subheading>
        </gd-media-header>
        <gd-media-body>
          Body content.
        </gd-media-body>
      </gd-media-content>
      <gd-media-controls>
        <button
          class="gd-button gd-button-default"
          type="button"
        >
          Button
        </button>
      </gd-media-controls>
      <gd-media-thumbnail>
        <gd-thumbnail
          [imageSource]="thumbnail"
          size="fill"
        >
        </gd-thumbnail>
      </gd-media-thumbnail>
    </gd-media>

    <gd-media size="xs">
      <gd-media-content>
        <gd-media-header>
          <gd-media-heading>
            XSmall Size
          </gd-media-heading>
          <gd-media-subheading>
            Subheading
          </gd-media-subheading>
        </gd-media-header>
        <gd-media-body>
          Body content.
        </gd-media-body>
      </gd-media-content>
      <gd-media-controls>
        <button
          class="gd-button gd-button-default"
          type="button"
        >
          Button
        </button>
      </gd-media-controls>
      <gd-media-thumbnail>
        <gd-thumbnail
          [imageSource]="thumbnail"
          size="fill"
        >
        </gd-thumbnail>
      </gd-media-thumbnail>
    </gd-media>

    <gd-media size="lg">
      <gd-media-content>
        <gd-media-header>
          <gd-media-heading>
            XSmall Size
          </gd-media-heading>
          <gd-media-subheading>
            Subheading
          </gd-media-subheading>
        </gd-media-header>
        <gd-media-body>
          Body content.
        </gd-media-body>
      </gd-media-content>
      <gd-media-thumbnail>
        <gd-thumbnail
          [imageSource]="thumbnail"
          size="fill"
        >
        </gd-thumbnail>
      </gd-media-thumbnail>
    </gd-media>

    <gd-media size="md">
      <gd-media-content>
        <gd-media-header>
          <gd-media-heading>
            XSmall Size
          </gd-media-heading>
          <gd-media-subheading>
            Subheading
          </gd-media-subheading>
        </gd-media-header>
        <gd-media-body>
          Body content.
        </gd-media-body>
      </gd-media-content>
      <gd-media-thumbnail>
        <gd-thumbnail
          [imageSource]="thumbnail"
          size="fill"
        >
        </gd-thumbnail>
      </gd-media-thumbnail>
    </gd-media>

    <gd-media size="sm">
      <gd-media-content>
        <gd-media-header>
          <gd-media-heading>
            XSmall Size
          </gd-media-heading>
          <gd-media-subheading>
            Subheading
          </gd-media-subheading>
        </gd-media-header>
        <gd-media-body>
          Body content.
        </gd-media-body>
      </gd-media-content>
      <gd-media-thumbnail>
        <gd-thumbnail
          [imageSource]="thumbnail"
          size="fill"
        >
        </gd-thumbnail>
      </gd-media-thumbnail>
    </gd-media>

    <gd-media size="xs">
      <gd-media-content>
        <gd-media-header>
          <gd-media-heading>
            XSmall Size
          </gd-media-heading>
          <gd-media-subheading>
            Subheading
          </gd-media-subheading>
        </gd-media-header>
        <gd-media-body>
          Body content.
        </gd-media-body>
      </gd-media-content>
      <gd-media-thumbnail>
        <gd-thumbnail
          [imageSource]="thumbnail"
          size="fill"
        >
        </gd-thumbnail>
      </gd-media-thumbnail>
    </gd-media>
  </gd-media-list>
</div>
